{% extends "common_code/base.html" %}
{% block content %}

<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
        <h3 class="text-center mb-3">Login</h3>

        <form method="POST">
            {% csrf_token %}
            <input type="number" name="pin" class="form-control mb-3" placeholder="Enter PIN">
            <button class="btn btn-primary w-100">Login</button>
        </form>

        {% if error %}
        <p class="text-danger text-center mt-3">{{ error }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}




